/*Selector Universal*/

{
    margin: 0;
    padding: 0;
}

/*Selector Universal*/
header, footer{
    background-color: black;
}

footer{
    color: white;
}

/*Selectores descendentes*/
article p span{
    font-size: xx-large;
    color: brown;
    font-family: Verdana;
    font-weight: bold;
}

/*Selector clase*/
.miClase{
    background-color: blue;
}

/*Selector tipo id*/
#menu{
    background-color: beige;
    color: blueviolet>
}
/* Selector Adyacente */
h1+p{
   text-decoration: underline;
}

#miP{
    text-decoration: none;
}

/* Selector Pseudo */

.miA:hover, .miB:hover{

    background-color: black;
    color: blue;
}

.miA:visited, .miB:visited {
    background-color: black;
    color: violet;
}

img:hover {
    opacity: 0;
}

.miClase ::before{
    background-color: aquamarine;
    color: black;
    content: url(/IMG/OIP.jpg);

}
.miClase:;::first-line{
    font-size: 20px;
    color: aqua;

}
